body {
 font-family: Arial, sans-serif;
 background-size: cover;
 color: deeppink;
}
h1{
    color:crimson;
    position: absolute;
    left: 90px;
    margin-top: -3.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
h3{
 color: black;
}
h2{
color: blue;
}
.logo-round img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }
header {
 background-color:aquamarine;
 color: green;
 padding: 10px;
}
nav {
 background-color:aquamarine;
 color: black;
 padding: 10px;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav ul {
 list-style: none;
 margin: 0;
 padding: 0; }
nav li {
 display: inline-block;
 margin-right: 10px;
}
nav a {
 color: black;
 text-decoration: none;
}
main {
 padding: 10px;
}
.button {
 background-color: blue; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}
footer {
 background-color: #333;
 color: white;
 padding: 10px;
 text-align: center;
}
.container {
background-color: #FF1493;
padding: 20px;
}